BODY{
font-size:0.96rem;
padding-top:60px;
}

.content-wrapper{
background-image:url(img/page-bg.png);
background-repeat:repeat-x;
background-position:top;
}

MAIN,
FOOTER{
width:70%;
margin:0 auto;
}

P.abstract{
font-size:140%;
}

.form-control{
background:#222;
color:#888;
}

.form-control:focus{
background:#444;
color:#bbb;
}

LABEL{
font-weight:bold;
color:#bbb;
}

.form-btn{
display:inline-block;
width:auto;
}

.form-buttons{
margin-top:50px;
border-radius:4px;
padding:20px;
background:rgba(255,255,255,0.1);
}

.navbar.bg-dark{
border:0 !important;
background:#06151b !important;
}

MAIN.with-navbar{
padding-top:60px;
}

.form-check-label{
padding-right:8px;
}

#nav-menu .nav-item{
display:inline-block;
margin-right:8px;
}

.navbar.fixed-top{
min-height:60px;
}

.monospace{
font-family:monospace;
}

FOOTER{
margin-top:80px;
padding-top:20px;
border-top:dotted 1px rgba(255,255,255,0.1);
}

FOOTER .container > P{
margin-bottom:4px;
}

H1{
font-size:2.4rem;
margin-bottom:2rem;
}

H2{
font-size:1.8rem;
margin-top:2rem;
}

H3{
font-size:1.2rem;
margin-top:2rem;
margin-bottom:1.2rem;
}

TABLE TD.align-center,
TABLE TH.align-center{
text-align:center;
}